.c-button {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid #000;
    padding: 11px 0 9px;
    @include sp {
        max-width: 300px;
    }

    .c-button__text {
        font-size: 1.7rem;
        font-weight: 500;
        color: #000;
        text-align: center;
        display: block;
        position: relative;
        line-height: 1.7;
        font-family: "Noto Serif JP", serif;
        letter-spacing: 1.7px;
        padding-left: 29px;

        &::after {
            content: "";
            position: absolute;
            width: 12px;
            height: 12px;
            background: url(../../assets/img/right-arrow.svg);
            background-size: contain;
            background-repeat: no-repeat;
            right: 9px;
            top: 50%;
            transform: translateY(-50%);
        }
        @include sp {
            font-size: 1.7rem * 0.75;
        }
    }

    .c-button__label {
        font-size: 1.7rem;
        font-weight: 500;
        color: #5a9da4;
        position: absolute;
        left: 96px;
        @include sp {
            font-size: 1.7rem * 0.75;
            left: 18px;
        }
    }
}
