.c-custom {
    padding: 93px 0 30px;

    .c-custom__title {
        font-size: 2.5rem;
        line-height: 1.72;
        letter-spacing: 0.08em;
        color: #000;
        text-align: center;
        font-family: "Sawarabi Mincho", serif;
        font-feature-settings: "palt" 1;
    }

    .c-custom__samples {
        display: flex;
        margin-top: 34px;
        justify-content: space-between;
    }

    .c-custom__images {
        display: flex;
        justify-content: space-between;
        width: 64.4%;
    }

    .c-custom__content {
        color: #000;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.96;
        width: 30.4%;
    }

    .c-custom__description {
        padding-top: 21px;

    }

    .c-custom__image {
        width: 30.9%;
    }

    .c-custom__contact {
        margin-top: 43px;
    }

    .c-custom__tel {
        font-size: 1.7rem;
    }

    .c-custom__hour {
        font-size: 1.4rem;
    }
}
