.c-custom {
    padding: 92px 0 30px;

    .c-custom__title {
        font-size: 2.5rem;
        line-height: 1.72;
        letter-spacing: 0.08em;
        color: #000;
        text-align: center;
        font-family: "Sawarabi Mincho", serif;
        font-feature-settings: "palt" 1;
        @include sp {
            font-size: (2.5rem * 0.75);
        }
    }

    .c-custom__samples {
        display: flex;
        margin-top: 34px;
        justify-content: space-between;
        @include tab {
            flex-direction: column;
        }
    }

    .c-custom__images {
        display: flex;
        justify-content: space-between;
        width: 64.4%;
        @include tab {
            width: 100%;
        }
    }

    .c-custom__content {
        color: #000;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.96;
        width: 30.4%;
        @include tab {
            width: 100%;
        }
        @include sp {
            font-size: 1.4rem*0.75;
        }
    }

    .c-custom__description {
        padding-top: 21px;
    }

    .c-custom__image {
        width: 30.9%;
    }

    .c-custom__contact {
        margin-top: 43px;
        @include tab {
            margin-top: 20px;
        }
    }

    .c-custom__tel {
        font-size: 1.7rem;
        @include sp {
            font-size: 1.7rem*0.75;
        }
    }

    .c-custom__hour {
        font-size: 1.4rem;
        @include sp {
            font-size: 1.4rem*0.75;
        }
    }
}
