.c-products {
    padding-top: 100px;

    .c-products__title {
    }

    .c-products__sectiontitle {
        width: fit-content;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            width: 117px;
            height: 102px;
            background: url(../../assets/img/towel-bg.png);
            right: -75px;
            top: 17px;
            background-size: contain;
            background-repeat: no-repeat;
            display: block;
        }
    }

    .c-products__container {
        position: relative;
        margin-top: 142px;
    }

    .c-products__section {
        background: #f7f4e6;
        width: 90.1%;
        padding: 78px 55px 80px;
    }

    .c-products__sectionsample {
        position: absolute;
    }

    .c-products__sectiontitleen {
        font-size: 7.9rem;
        font-weight: 700;
        color: #000;
        line-height: 0.8;
        display: block;
    }

    .c-products__sectionhead {
        margin-top: 58px;
        margin-bottom: 11px;
    }

    .c-products__sectiondes {
        font-size: 1.4rem;
        font-weight: 500;
        color: #000;
        line-height: 1.94;
    }

    .c-products__sectionaddress {
        margin-top: 21px;
    }

    .c-products__sectiontitlejp {
        font-size: 1.4rem;
        line-height: 1.75;
        font-weight: 300;
        display: block;
        color: #000;
    }

    .c-products__towels1 {
        top: 0;
        transform: translateY(-26.7%);
        width: 53.4%;
        right: 0;
    }

    .c-products__towels2 {
        left: 50%;
        transform: translate(50%, 0);
        transform: translate(-17%, 0);
        width: 20.3%;
        bottom: 24px;
    }

    .c-products__towels3 {
        right: 0;
        width: 26.7%;
        bottom: -15%;
    }

    .c-products__items {
        display: flex;
        margin-top: 128px;
        justify-content: center;
    }

    .c-products__item {
        margin-right: 23px;

        &:last-child {
            margin-right: 0;
        }
    }

    .c-product__itemimg {
        background-color: #f1f1f1;
        padding: 9px;

        img {
            width: 140px;
        }
    }

    .c-product__itemtitle {
        font-weight: 700;
        font-size: 1.4rem;
        line-height: 1.5;
        max-width: 86px;
        text-align: center;
        margin: 15px auto 5px;
        color: #000;
    }

    .c-products__price {
        font-weight: 500;
        line-height: 1.46;
        font-size: 1.4rem;
        color: #989898;
        text-align: center;
        display: block;
    }

    .c-products__section2 {
        margin-left: auto;
    }

    .c-products__section2title {
        margin-left: auto;
        padding-right: 109px;
    }

    .c-products__reverse1 {
        top: 0;
        transform: translateY(-26.7%);
        width: 53.4%;
        left: 0;
    }

    .c-products__reverse2 {
        right: 46.6%;
        transform: translate(0, 0);
        width: 20.3%;
        bottom: 22.5%;
    }

    .c-products__reverse3 {
        left: 0;
        width: 26.7%;
        bottom: 5.2%;
    }

    .c-products__section2head {
        text-align: end;
    }

    .c-products__section2des {
        width: fit-content;
        margin-left: auto;
    }

    .c-products__section2address {
        text-align: end;
    }

    .c-products__baby {
        margin-top: 259px;

        .c-products__section {
            background: #e4f1ff;
            padding: 78px 55px 74px;
        }

        .c-products__sectiontitle {
            &::after {
                background: url(../../assets/img/baby-bg.png);
                background-size: contain;
                background-repeat: no-repeat;
                width: 169px;
                height: 173px;
                right: -54px;
                top: -25px;
            }
        }

        .c-products__sectiontitlejp {
            margin-top: 20px;
        }

        .c-products__sectionhead {
            margin-top: 51px;
            padding-right: 105px;
        }

        .c-products__sectiondes {
            line-height: 2.16;
        }

       
    }

    .c-products__itemsbaby {
        margin-top: 53px;
    }

    
}
