/* layout
------------------------------------------------------------*/
body {
    font-family: $main-fonts;
    font-size: 1.4rem;
    line-height: 1.5;
    @include sp {
        min-width: 320px;
    }
}


//-------------------------------------------------------
.l-container {
    max-width: 1000px;
    width: 92%;
    margin: 0 auto;
    @include tab {
        max-width: 720px;
    }
}
//-------------------------------------------------------
.is-pc {
    display: block;
    @include tab {
        display: none;
    }
}

.is-tab {
    display: none;
    @include tab {
        display: block;
    }
}
