<section class="c-custom">
  <h2 class="c-title c-custom__title">
    タオル・ベビー服への名入れ・オリジナル刺繍を承っています。
  </h2>
  <div class="l-container">
    <div class="c-custom__samples">
      <div class="c-custom__images">
        <div class="c-custom__image">
          <img src="./assets/img/sample-1.jpg" alt="" />
        </div>
        <div class="c-custom__image">
          <img src="./assets/img/sample-2.jpg" alt="" />
        </div>
        <div class="c-custom__image">
          <img src="./assets/img/sample-3.jpg" alt="" />
        </div>
      </div>
      <div class="c-custom__content">
        <p class="c-custom__description">
          ご購入いただいたタオルやベビー服に <br />
          文字の刺繍を入れていただくことができます。 <br />
          ご結婚のお祝いや入・卒園記念、
          <br />会社の記念品などにぜひご利用ください。<br />
          デザインをお持ち込みいただくことで
          <br />全面フルオーダーの刺繍も可能です。
        </p>
        <p class="c-custom__contact">
          ご注文・お問い合わせ <br />タオルブティックジュネス<br />
          TEL 075-722-1555（10:00〜18:00）
        </p>
      </div>
    </div>
  </div>
</section>
