<section class="c-products">
  <h2 class="c-title c-products__title">products</h2>
  <div class="l-container">
    <div class="c-products__container" id="towel">
      <div class="c-products__section">
        <div class="c-products__sectiontitle">
          <span class="c-products__sectiontitleen">towel</span>
          <span class="c-products__sectiontitlejp">タオル</span>
        </div>
        <div class="is-sp">
          <div class="c-product__samples">
            <div class="c-products__sectionsamplesp c-products__towels1">
              <img src="./assets/img/towel-1.jpg" alt="贈り物にもピッタリな高品質タオル" />
            </div>
            <div class="c-products__sectionsamplesp c-products__towels2">
              <img src="./assets/img/towel-2.jpg" alt="贈り物にもピッタリな高品質タオル" />
            </div>
            <div class="c-products__sectionsamplesp c-products__towels3">
              <img src="./assets/img/towel-3.jpg" alt="贈り物にもピッタリな高品質タオル" />
            </div>
          </div>
        </div>
        <div class="c-products__text">
          <h3 class="c-products__sectionhead">
            贈り物にもピッタリな高品質タオル
          </h3>
          <p class="c-products__sectiondes">
            丈夫で肌触りの良い今治タオル、エレガントなデザインの <br />
            EUタオル、レースで彩った華やかなタオルなど、 <br />
            生活を彩る素敵な商品を多数取りそろえています。 <br />
            お子様向けのかわいらしいハンドタオルもございます。 <br />
            普段使いはもちろん、贈り物にもぜひご利用ください。
          </p>
          <p class="c-products__sectionaddress">
            取り扱い店：タオルブティックジュネス
          </p>
        </div>
      </div>
      <div class="c-products__sectionsample c-products__towels1">
        <img src="./assets/img/towel-1.jpg" alt="贈り物にもピッタリな高品質タオル" />
      </div>
      <div class="c-products__sectionsample c-products__towels2">
        <img src="./assets/img/towel-2.jpg" alt="贈り物にもピッタリな高品質タオル" />
      </div>
      <div class="c-products__sectionsample c-products__towels3">
        <img src="./assets/img/towel-3.jpg" alt="贈り物にもピッタリな高品質タオル" />
      </div>
    </div>
    <div class="c-products__items">
      <div class="c-products__item">
        <div class="c-product__itemimg">
          <img src="./assets/img/towels-item.jpg" alt="フェイラー ハンドタオル" />
        </div>
        <p class="c-product__itemtitle">フェイラー ハンドタオル</p>
        <span class="c-products__price"> ¥1,700(＋tax） </span>
      </div>
      <div class="c-products__item">
        <div class="c-product__itemimg">
          <img src="./assets/img/towels-item.jpg" alt="フェイラー ハンドタオル" />
        </div>
        <p class="c-product__itemtitle">フェイラー ハンドタオル</p>
        <span class="c-products__price"> ¥1,700(＋tax） </span>
      </div>
      <div class="c-products__item">
        <div class="c-product__itemimg">
          <img src="./assets/img/towels-item.jpg" alt="フェイラー ハンドタオル" />
        </div>
        <p class="c-product__itemtitle">フェイラー ハンドタオル</p>
        <span class="c-products__price"> ¥1,700(＋tax） </span>
      </div>
      <div class="c-products__item">
        <div class="c-product__itemimg">
          <img src="./assets/img/towels-item.jpg" alt="フェイラー ハンドタオル" />
        </div>
        <p class="c-product__itemtitle">フェイラー ハンドタオル</p>
        <span class="c-products__price"> ¥1,700(＋tax） </span>
      </div>
    </div>
    <div class="c-products__container c-products__baby" id="baby">
      <div class="c-products__section c-products__section2">
        <div class="c-products__sectiontitle c-products__section2title">
          <span class="c-products__sectiontitleen">baby<span class="c-products__and">&</span><br />kids</span>
          <span class="c-products__sectiontitlejp">ベビー・子供服</span>
        </div>
        <div class="is-sp">
          <div class="c-product__samples">
            <div class="c-products__sectionsamplesp">
              <img src="./assets/img/baby-1.jpg" alt="上品でおしゃれなベビー・子供服" />
            </div>
            <div class="c-products__sectionsamplesp">
              <img src="./assets/img/baby-2.jpg" alt="上品でおしゃれなベビー・子供服" />
            </div>
            <div class="c-products__sectionsamplesp">
              <img src="./assets/img/baby-3.jpg" alt="上品でおしゃれなベビー・子供服" />
            </div>
          </div>
        </div>
        <h3 class="c-products__sectionhead c-products__section2head">
          上品でおしゃれなベビー・子供服
        </h3>
        <p class="c-products__sectiondes c-products__section2des">
          クオリティーの高い国内ブランドLE Cou Couや <br class="is-pc"/>
          OILILIY、nana’nなどの人気のインポート子供服を <br class="is-pc"/>
          取り扱っています。 <br />
          女の子がウキウキするような可愛いデザインのお洋服を<br class="is-pc"/>
          多数品揃えました。ご出産祝いに、普段のお出かけ用に <br class="is-pc"/>
          ぜひご利用ください。 <br />
          親子お揃いで着ていただけるアイテムもございます。
        </p>
        <p class="c-products__sectionaddress c-products__section2address">
          取り扱い店：プチジュネス
        </p>
      </div>
      <div class="c-products__sectionsample c-products__reverse1">
        <img src="./assets/img/baby-1.jpg" alt="上品でおしゃれなベビー・子供服" />
      </div>
      <div class="c-products__sectionsample c-products__reverse2">
        <img src="./assets/img/baby-2.jpg" alt="上品でおしゃれなベビー・子供服" />
      </div>
      <div class="c-products__sectionsample c-products__reverse3">
        <img src="./assets/img/baby-3.jpg" alt="上品でおしゃれなベビー・子供服" />
      </div>
    </div>
    <div class="c-products__items c-products__itemsbaby">
      <div class="c-products__item">
        <div class="c-product__itemimg c-product__itembabyimg">
          <img src="./assets/img/baby-item.jpg" alt="フェイラー ハンドタオル" />
        </div>
        <p class="c-product__itemtitle">フェイラー ハンドタオル</p>
        <span class="c-products__price"> ¥1,700(＋tax） </span>
      </div>
      <div class="c-products__item">
        <div class="c-product__itemimg c-product__itembabyimg">
          <img src="./assets/img/baby-item.jpg" alt="フェイラー ハンドタオル" />
        </div>
        <p class="c-product__itemtitle">フェイラー ハンドタオル</p>
        <span class="c-products__price"> ¥1,700(＋tax） </span>
      </div>
      <div class="c-products__item">
        <div class="c-product__itemimg c-product__itembabyimg">
          <img src="./assets/img/baby-item.jpg" alt="フェイラー ハンドタオル" />
        </div>
        <p class="c-product__itemtitle">フェイラー ハンドタオル</p>
        <span class="c-products__price"> ¥1,700(＋tax） </span>
      </div>
      <div class="c-products__item">
        <div class="c-product__itemimg c-product__itembabyimg">
          <img src="./assets/img/baby-item.jpg" alt="フェイラー ハンドタオル" />
        </div>
        <p class="c-product__itemtitle">フェイラー ハンドタオル</p>
        <span class="c-products__price"> ¥1,700(＋tax） </span>
      </div>
    </div>
    <div class="c-products__container c-products__lady" id="lady">
      <div class="c-products__section">
        <div class="c-products__sectiontitle">
          <span class="c-products__sectiontitleen"
            >ladies'<br />
            wear</span
          >
          <span class="c-products__sectiontitlejp">婦人服</span>
        </div>
        <div class="is-sp">
          <div class="c-product__samples">
            <div class="c-products__sectionsamplesp">
              <img src="./assets/img/lady-1.jpg" alt="ああああああああああああああああ" />
            </div>
            <div class="c-products__sectionsamplesp">
              <img src="./assets/img/lady-2.jpg" alt="ああああああああああああああああ" />
            </div>
            <div class="c-products__sectionsamplesp">
              <img src="./assets/img/lady-3.jpg" alt="ああああああああああああああああ" />
            </div>
          </div>
        </div>
        <div class="c-products__text">
          <h3 class="c-products__sectionhead">
            ああああああああああああああああ
          </h3>
          <p class="c-products__sectiondes">
            ああああああああああああ <br />
            ああああああああああああああああああああああ <br class="is-pc"/>
            ああああああああああああああああああああああ <br class="is-pc"/>
            ああああああああああああああああああああああ <br class="is-pc"/>
            ああああああああああああああああああああああ <br class="is-pc"/>
          </p>
          <p class="c-products__sectionaddress">
            取り扱い店：モンノール・ジュネス
          </p>
        </div>
      </div>
      <div class="c-products__sectionsample c-products__lady1">
        <img src="./assets/img/lady-1.jpg" alt="ああああああああああああああああ" />
      </div>
      <div class="c-products__sectionsample c-products__lady2">
        <img src="./assets/img/lady-2.jpg" alt="ああああああああああああああああ" />
      </div>
      <div class="c-products__sectionsample c-products__lady3">
        <img src="./assets/img/lady-3.jpg" alt="ああああああああああああああああ" />
      </div>
    </div>
    <div class="c-products__items c-products__itemslady">
      <div class="c-products__item">
        <div class="c-product__itemimg">
          <img src="./assets/img/lady-item.jpg" alt="フェイラー ハンドタオル" />
        </div>
        <p class="c-product__itemtitle">フェイラー ハンドタオル</p>
        <span class="c-products__price"> ¥1,700(＋tax） </span>
      </div>
      <div class="c-products__item">
        <div class="c-product__itemimg">
          <img src="./assets/img/lady-item.jpg" alt="フェイラー ハンドタオル" />
        </div>
        <p class="c-product__itemtitle">フェイラー ハンドタオル</p>
        <span class="c-products__price"> ¥1,700(＋tax） </span>
      </div>
      <div class="c-products__item">
        <div class="c-product__itemimg">
          <img src="./assets/img/lady-item.jpg" alt="フェイラー ハンドタオル" />
        </div>
        <p class="c-product__itemtitle">フェイラー ハンドタオル</p>
        <span class="c-products__price"> ¥1,700(＋tax） </span>
      </div>
      <div class="c-products__item">
        <div class="c-product__itemimg">
          <img src="./assets/img/lady-item.jpg" alt="フェイラー ハンドタオル" />
        </div>
        <p class="c-product__itemtitle">フェイラー ハンドタオル</p>
        <span class="c-products__price"> ¥1,700(＋tax） </span>
      </div>
    </div>
    <div class="c-products__container c-products__interior" id="interior">
      <div class="c-products__section c-products__section2">
        <div class="c-products__sectiontitle c-products__section2title">
          <span class="c-products__sectiontitleen"
            >Interior <br />
            goods</span
          >
          <span class="c-products__sectiontitlejp">生活雑貨</span>
        </div>
        <div class="is-sp">
          <div class="c-product__samples">
            <div class="c-products__sectionsamplesp">
              <img src="./assets/img/interior-1.jpg" alt="ああああああああああああああああ" />
            </div>
            <div class="c-products__sectionsamplesp">
              <img src="./assets/img/interior-2-sp.jpg" alt="ああああああああああああああああ" />
            </div>
            <div class="c-products__sectionsamplesp">
              <img src="./assets/img/interior-3.jpg" alt="ああああああああああああああああ" />
            </div>
          </div>
        </div>
        <h3 class="c-products__sectionhead c-products__section2head">
          ああああああああああああああああ
        </h3>
        <p class="c-products__sectiondes c-products__section2des">
          ああああああああああああああああああああああ <br class="is-pc"/>
          ああああああああああああああああああああああ <br class="is-pc"/>
          ああああああああああああああああああああああ <br class="is-pc"/>
          ああああああああああああああああああああああ <br class="is-pc"/>
          ああああああああああああああああああああああ <br class="is-pc"/>
          ああああああああああああああああああああああ <br class="is-pc"/>
          ああああああああああああああああああああああ <br class="is-pc"/>
        </p>
        <p class="c-products__sectionaddress c-products__section2address">
          取り扱い店：タオルブティックジュネス
        </p>
      </div>
      <div class="c-products__sectionsample c-products__reverse1 c-products__interior1">
        <img src="./assets/img/interior-1.jpg" alt="ああああああああああああああああ" />
      </div>
      <div class="c-products__sectionsample c-products__reverse2 c-products__interior2">
        <img src="./assets/img/interior-2.jpg" alt="ああああああああああああああああ" />
      </div>
      <div class="c-products__sectionsample c-products__reverse3 c-products__interior3">
        <img src="./assets/img/interior-3.jpg" alt="ああああああああああああああああ" />
      </div>
    </div>
    <div class="c-products__items c-products__itemsinterior">
      <div class="c-products__item">
        <div class="c-product__itemimg">
          <img src="./assets/img/interior-item.jpg" alt="フェイラー ハンドタオル" />
        </div>
        <p class="c-product__itemtitle">フェイラー ハンドタオル</p>
        <span class="c-products__price"> ¥1,700(＋tax） </span>
      </div>
      <div class="c-products__item">
        <div class="c-product__itemimg">
          <img src="./assets/img/interior-item.jpg" alt="フェイラー ハンドタオル" />
        </div>
        <p class="c-product__itemtitle">フェイラー ハンドタオル</p>
        <span class="c-products__price"> ¥1,700(＋tax） </span>
      </div>
      <div class="c-products__item">
        <div class="c-product__itemimg">
          <img src="./assets/img/interior-item.jpg" alt="フェイラー ハンドタオル" />
        </div>
        <p class="c-product__itemtitle">フェイラー ハンドタオル</p>
        <span class="c-products__price"> ¥1,700(＋tax） </span>
      </div>
      <div class="c-products__item">
        <div class="c-product__itemimg">
          <img src="./assets/img/interior-item.jpg" alt="フェイラー ハンドタオル" />
        </div>
        <p class="c-product__itemtitle">フェイラー ハンドタオル</p>
        <span class="c-products__price"> ¥1,700(＋tax） </span>
      </div>
    </div>
  </div>
</section>
